#mw-content-text code.prism-prettyprint.language-wiki {
    white-space: pre-wrap;
}

.line-numbers span.line-numbers-rows {
    pointer-events: all;
}

.line-numbers-rows > span:hover {
    background-color: rgb(128 128 128 / 20%);
}

pre[class*="language-"] {
    display: flow-root;
}
