/*
 * 放置于这里的CSS将应用于所有皮肤
 * 请尊重萌娘百科版权，以下代码除非注明均是管理员手敲出来的！！！复制需要注明源自萌娘百科，并且附上URL地址http://commons.moegirl.org.cn/MediaWiki:Common.css
 * 版权协定：知识共享 署名-非商业性使用-相同方式共享 3.0
 * 如果复制css，复制后之后请把图片换成自己网站上的图片！！！！！！！！！！！！！
 */
/* 返回上一页 */
#back {
    cursor: pointer;
}

/* 通用圆角框 */
.common-box {
    padding: .2em .4em;
    border: 1px solid #ddd;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: #666 0 2px 3px;
    -moz-box-shadow: #666 0 2px 3px;
    border-radius: 10px;
    box-shadow: #666 0 2px 3px;
}

/* 在非主命名空间里隐藏编辑上传接口 */
body:not(.ns-0) #upload-div {
    display: none;
}

/* 隐藏只供维护人员查看的内容 */
.patroller-show,
.checkuser-show,
.suppress-show,
.sysop-show,
.interface-admin-show {
    display: none !important;
}

/* 数据表格 */
.mw-datatable.TablePager {
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
}

.mw-body-content .mw-editsection .mw-editsection-divider {
    display: revert;
}

/* 上传页预览图片过大 */
#mw-upload-form .thumbimage {
    max-width: 100%;
}
