#wikiEditor-ui-toolbar .menu {
    position: relative;
    z-index: 5;
}

.CodeMirror pre {
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}

#wpTextbox1+.CodeMirror {
    font-size: 13px;
    line-height: 1.5;
}

.CodeMirror-matchingbracket {
    box-shadow: 0 0 0 2px #9aef98;
}

.CodeMirror-nonmatchingbracket {
    box-shadow: 0 0 0 2px #eace64;
}
