# 格式：【萌百用户名（空格用下划线代替）】【空格】【GitHub 邮箱】
# 若有多个 GitHub 邮箱，或更换了 GitHub 邮箱，请直接在你原来的 GitHub 邮箱之后追加新行，而不要替换！参加 AnnAngela 的用法

AnnAngela <naganjue@vip.qq.com>
AnnAngela <annangela@moegirl.org>
Bbrabbit <soranomethods@yahoo.co.jp>
Leranjun <25704248+leranjun@users.noreply.github.com>
星海子 <69918945+lovelyCARDINAL@users.noreply.github.com>