{
    "$schema": "https://swc.rs/schema.json",
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": false,
            "dynamicImport": false,
            "privateMethod": true,
            "functionBind": true,
            "exportDefaultFrom": false,
            "exportNamespaceFrom": false,
            "decorators": false,
            "decoratorsBeforeExport": false,
            "topLevelAwait": false,
            "importMeta": false
        },
        "target": "es2017",
        "loose": false,
        "externalHelpers": false,
        "baseUrl": "./",
        "keepClassNames": true,
        "experimental": {
            "cacheRoot": ".cache/swc"
        }
    },
    "minify": false
}
