#p-personal li {
    margin-top: 1em;
    margin-bottom: 0.2em;
}

#pt-userpage {
    background: none !important;
    padding-left: 0 !important;
}

#pt-avatar {
    margin-top: 0.25em !important;
    margin-bottom: 0 !important;
}

#pt-avatar img {
    width: 2.5em;
    border-radius: 50%;
}

.skin-vector #user-rootpage-avatar{
    border-radius:10px;
    padding: 4px;
}

.skin-moeskin #user-rootpage-avatar{
    border-radius: 5px;
    top: 8px;
    position: relative;
}

/* 1.28+ Echo fix */
#p-personal #pt-notifications-alert,
#p-personal #pt-notifications-notice {
    margin-top: 0.8em;
}
