/*
 * 放置于这里的CSS将应用于vector-2022皮肤
 * 请尊重萌娘百科版权，以下代码除非注明均是管理员手敲出来的！！！复制需要注明源自萌娘百科，并且附上URL地址 https://zh.moegirl.org.cn/MediaWiki:Gadget-vector-2022-styles.css
 * 版权协定：知识共享 署名-非商业性使用-相同方式共享 3.0
 * 复制之后请把图片换成自己网站上URL地址！
 */

/* 调整顶栏 logo，第一次压扁成这样的我 */
.mw-logo-icon {
    width: auto;
    height: 50px;
}


@media (width >= 768px) {
  .mobileonly {
    display: none !important;
    position: absolute;
    left: -999vw
  }
}

@media (width <= 768px) {
  .nomobile {
    display: none !important;
    position: absolute;
    left: -999vw
  }
}

#p-personal li {
    margin-top: 0.2em;
}

/* 页脚 */
#footer-info-copyright {
    background: url("//img.moegirl.org.cn/weixin_mengbai.png") 0 15px no-repeat;
    padding: 15px 0 30px;
    font-family: sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 165px;
}

#footer-moegirl {
    padding-left: 160px;
    color: #2F2F2F;
}

#footer-moegirl h4 {
    color: #243C4A;
    font-family: AllerBold, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    margin-bottom: 8px;
}

#footer-moegirl ul {
    float: left;
    margin: 0 100px 20px 0;
    line-height: 1.7;
    width: 120px;
    font-size: 12pt;
}

#footer-moegirl ul.lastlist {
    margin-right: 0;
}

#footer-moegirl ul a {
    color: #2F2F2F;
}

#footer-moegirl .copyright {
    clear: left;
    display: block;
    line-height: 1.3;
    color: #999;
}

/* 标题下划线增强 700 = bold */
h1 {
    font-weight: 700;
    border-bottom: 2px solid #0074F9;
}

h2 {
    font-weight: 700;
    border-bottom: 1px solid #0074F9;
}

/* [[Template:Navbar]]意外换行 */
.noprint.plainlinks.hlist.navbar.nomobile {
    white-space: nowrap;
}
