.batdel-body .mw-category-generated ul {
    margin-left: 0;
}

.batdel-body .mw-category-generated ul li {
    list-style: none;
}

.batdel-body #batdel-control {
    border: 1px dashed black;
    padding: 0.5em;
}

.batdel-body #batdel-control button {
    margin: 0 0.5em;
}

.batdel-body .batdel-disabled {
    opacity: 0.3;
}

.batdel-error {
    color: #D32F2F;
}

.batdel-success {
    color: #388E3C;
}
