/**
 * 萌娘百科 InPageEdit 本地样式修复
 */

/* [[Template:Navbar]] #53 */
.navbar .in-page-edit-article-link-group {
    position: absolute;
    margin-left: 4px;
}

/* [[Template:LinkShow]] #53 */
.linksShow-container .in-page-edit-article-link-group {
    display: none;
}

/* [[Special:Interwiki]] */
.mw-interwikitable-modify .in-page-edit-article-link-group {
    display: none;
}

/* For MoeSkin */
body.skin-moeskin #ipe-edit-toolbox {
    bottom: 4rem;
}
