.AnnTools_bolb {
    font-weight: bold;
}

.AnnTools_paragraphs {
    text-indent: 2em;
}

.AnnTools_RadioSelectWidget_column_2.oo-ui-radioSelectWidget {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.AnnTools_RadioSelectWidget_column_2.oo-ui-radioSelectWidget > .oo-ui-radioOptionWidget {
    min-width: 50%;
    width: max-content;
    max-width: 100%;
}
