/* 这里放置的CSS将只影响监督员 */
/* 显示仅供监督员查看的内容 */
.suppress-show {
    display: revert !important;
}

div.vectorMenu li.suppress-show {
    order: 1001;
}

.vectorMenu .suppress-show::before {
    content: " ";
    display: block;
    height: 1px;
    color: #A2A9B1;
    background-color: #A2A9B1;
    border: 0;
    margin: 7px;
}

.vectorMenu .suppress-show~.suppress-show::before {
    display: none;
}

.vectorMenu .suppress-show {
    cursor: default;
}

.vectorMenu .suppress-show~.suppress-show,
.vectorMenu .suppress-show a {
    cursor: pointer;
}