/* 此处放置的 CSS 会影响使用 MoeSkin 皮肤的用户 */

/* 全局背景图片 */
body.skin-moeskin #moe-global-background {
    /* --theme-background-color: rgb(185 214 244); */
    --background-url: url("https://storage.moegirl.org.cn/console-plus/uploads/2026/02/11/2d7c57c2efa64131cf2a3ea1c7104256.jpeg");
}

/* 修复全局顶部活动展示区的图片缝隙 */
body.skin-moeskin #moe-main-container > #moe-topbanner-container > #moe-topbanner {
    padding: 0;
    line-height: 0;
    overflow: hidden;
}

/* @pollify mw.util.addPortletLink */
aside#moe-global-siderail #moe-custom-sidenav-block h2 {
    font-size: 1.2em;
    margin: 0;
}

/* 特定讨论页面隐藏返回按钮 */
.rootpage-萌娘百科_talk_讨论版 #back-to-subject,
.rootpage-Talk_讨论版 #back-to-subject,
.rootpage-Talk_提问求助区 #back-to-subject,
.rootpage-萌娘百科_talk_提案 #back-to-subject {
    display: none;
}

/* @fix [[Special:ApiSandbox]]全屏模式图层顺序bug */
.mw-apisandbox-fullscreen #mw-apisandbox-ui {
    z-index: 30;
}

.mw-apisandbox-fullscreen .oo-ui-menuSelectWidget {
    z-index: 31;
}

/* @fix OO.ui.Dialog的图层顺序不应低于#moe-global-header */
.oo-ui-windowManager-modal > div.oo-ui-dialog {
    z-index: 20;
}

/* @fix flashmp3 layer */
.skin-moeskin #mw-content-text .sm2-bar-ui p {
    line-height: 1;
    margin: 0;
}

.skin-moeskin #mw-content-text .sm2-bar-ui .sm2-progress input.sm2-progress-track[type="range"] {
    padding: 0;
}

/* 修正侧边栏公告二级标题 */
#moe-global-siderail #moe-siderail-sitenotice h2 {
    font-size: 1.2rem;
    margin: 0;
}

#moe-global-siderail #moe-siderail-sitenotice h2 .mw-headline-number {
    display: none;
}

/* 移动设备优化 */
@media (width <=576px) {
    /* 清除浮动 */
    body.skin-moeskin .mw-parser-output > * {
        float: unset !important;
    }

    /* [[T:Infobox]] and [[T:信息栏2.0]] */
    body.skin-moeskin .infotemplatebox,
    body.skin-moeskin table.infobox,
    body.skin-moeskin table.infobox2,
    body.skin-moeskin table.infoboxSpecial,
    body.skin-moeskin .infobox3 {
        box-sizing: border-box;
        width: 100% !important;
        float: unset !important;
        margin: 1rem 0 !important;
        font-size: 1rem !important;
    }
}

/* 优化[[T:Navbox]]在窄屏设备的体验 */
@media (width <=768px) {
    html > body.skin-moeskin .navbox {
        border: 1px solid #aaa;
        clear: both;
        padding: 1px;
        text-align: center;
        width: 100%;
        background: #fdfdfd;
    }

    html > body.skin-moeskin .navbox-subgroup {
        background: #fdfdfd;
    }

    html > body.skin-moeskin .navbox-group {
        white-space: nowrap;
    }

    html > body.skin-moeskin .navbox table {
        width: 100% !important;
        margin: 0 !important;
    }

    html > body.skin-moeskin .navbox-subgroup .navbox-group,
    html > body.skin-moeskin .navbox-abovebelow {
        background: #e6f6e6;
    }

    html > body.skin-moeskin .navbox .TabLabel {
        text-align: left;
    }

    html > body.skin-moeskin .navbox-group,
    html > body.skin-moeskin .navbox-list,
    html > body.skin-moeskin .navbox-title {
        display: block;
        width: 100% !important;
        box-sizing: border-box;
    }

    html > body.skin-moeskin .navbox-group + * {
        border-left: 0 !important;
        border-top: 2px solid #fdfdfd;
    }

    html > body.skin-moeskin .navbox-group + .navbox-list > .navbox-subgroup {
        border-left: 0.75em solid transparent;
    }
}

:is(.image-box, .image-clip, .fit-image) img.lazyload[data-lazy-state="pending"] {
    height: 100vh !important;
    width: 100vw !important;
}

/* 调整 [[T:Info]] 图标大小 */
#mw-content-text .infoBox .infoBoxIcon img {
    max-width: unset;
}

@media (width <=576px) {
    #mw-content-text .infoBox .infoBoxIcon img {
        width: 2rem;
        height: auto;
    }
}

/* 搜索页样式 */
.skin-moeskin #mw-search-top-table {
    display: flex;
}

.skin-moeskin #mw-search-top-table > div:first-of-type {
    float: unset !important;
    flex: 1;
}

@media (width <=768px) {
    .skin-moeskin #mw-search-top-table {
        flex-direction: column;
    }

    .skin-moeskin .mw-search-profile-tabs {
        margin-top: 0;
    }
}

@media (width >=768px) {
    .skin-moeskin #mw-search-top-table {
        justify-content: space-between;
    }
}

.skin-moeskin #mw-content-text .search-types ul,
.skin-moeskin #mw-content-text ul.mw-search-results {
    list-style: none;
    margin-left: 0;
}

/* 优化表格在窄屏设备的效果 */
.skin-moeskin table.wikitable th {
    min-width: 5rem;
}

/* 优化[[T:注解]]在窄屏设备的体验 */
@media (width <=768px) {
    html > body.skin-moeskin sup.mobileref {
        display: none;
    }

    html > body.skin-moeskin sup.mobileref::after {
        content: " (" attr(title) ")";
        display: inline;
    }
}

/* chrome等浏览器搜索框两个叉 */
.n-input__input-el::-webkit-search-cancel-button {
    display: none;
}

/* noteTA button, written by User:机智的小鱼君 */
.noteTA-button > button {
    position: relative;
    border: 1px solid var(--theme-text-color);
    color: var(--theme-text-color);
    padding: 0.2em 0.6em;
    transition: all 0.24s ease;
    cursor: pointer;
    font-size: 12px;
    border-radius: 100vw;
    background-color: #0000;
}

/* mbox圆角 */
.skin-moeskin .infoBox {
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.infoBoxContent {
    border-radius: 0 0.5rem 0.5rem 0;
}

/* 信息框圆角 */
table:is(.moe-infobox, .infobox, .infoboxSpecial),
.infotemplatebox {
    border-radius: 0.5rem;
    overflow: hidden;
}

table:is(.moe-infobox, .infobox, .infotemplatebox, .infoboxSpecial) tbody > tr:first-of-type > td:first-of-type {
    border-start-start-radius: 0.5rem;
}

table:is(.moe-infobox, .infobox, .infotemplatebox, .infoboxSpecial) tbody > tr:first-of-type > td:last-of-type {
    border-start-end-radius: 0.5rem;
}

table:is(.moe-infobox, .infobox, .infotemplatebox, .infoboxSpecial) tbody > tr:last-of-type > td:first-of-type {
    border-end-start-radius: 0.5rem;
}

table:is(.moe-infobox, .infobox, .infotemplatebox, .infoboxSpecial) tbody > tr:last-of-type > td:last-of-type {
    border-end-end-radius: 0.5rem;
}

.infobox3 {
    border-radius: 0.5rem;
}

.infobox3 > div:first-child {
    border-start-start-radius: 0.25rem;
    border-start-end-radius: 0.25rem;
}

.infobox3 > div:last-child {
    border-end-start-radius: 0.25rem;
    border-end-end-radius: 0.25rem;
}

/* 大家族圆角 */
table.navbox {
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0 1px #aaa;
}

table.navbox > tbody > tr > td > table {
    border-radius: 0.375rem;
    overflow: hidden;
}

.skin-moeskin table.navbox + table.navbox {
    margin-top: 0.5rem;
}
