.heimu,
.colormu,
.heimu rt,
.colormu rt {
    transition-property: all !important;
}

body.heimu_toggle_on .heimu,
body.heimu_toggle_on .heimu rt {
    color: rgba(var(--theme-text-color--rgb, 0, 0, 0), 0.8);
    background-color: rgb(37 37 37 / 13%);
}

body.heimu_toggle_on .heimu:hover,
body.heimu_toggle_on .heimu:active {
    color: revert;
}

body.heimu_toggle_on span.heimu a,
body.heimu_toggle_on a span.heimu,
body.heimu_toggle_on span.heimu a.mw-disambig,
body.heimu_toggle_on span.heimu a.mw-redirect {
    color: #0645AD;
}

body.heimu_toggle_on span.heimu a:visited,
body.heimu_toggle_on a:visited span.heimu {
    color: #0B0080;
}

body.heimu_toggle_on span.heimu a.new,
body.heimu_toggle_on a.new span.heimu {
    color: #BA0000;
}

body.heimu_toggle_on span.heimu a.new:visited,
body.heimu_toggle_on a.new:visited span.heimu {
    color: #A55858;
}

body.heimu_toggle_on span.heimu a.extiw,
body.heimu_toggle_on a.extiw span.heimu {
    color: #36B;
}

body.heimu_toggle_on span.heimu a.extiw:visited,
body.heimu_toggle_on a.extiw:visited span.heimu {
    color: #636;
}
