/**
 * @source https://zh.wikipedia.org/wiki/_?oldid=22973238 https://zh.wikipedia.org/wiki/_?oldid=31522320
 * 更新后请同步更新上面链接到最新版本
 */
/*
 * 引自 https://zh.wikipedia.org/wiki/MediaWiki:Gadget-noteTA.css https://zh.wikipedia.org/wiki/MediaWiki:Gadget-noteTAvector.css
 * User:AnnAngela做了整合
 */
.noteTA-topicon {
    padding-left: 0;
}

.noteTA-topicon ul li.icon span a {
    background-image: url("//img.moegirl.org.cn/wikipedia/commons/thumb/c/cd/Zh_conversion_icon_m.svg/34px-Zh_conversion_icon_m.svg.png");
    width: 46px;
    height: 0;
    overflow: hidden;
    padding: 3.1em 0 0;
    background-position: 5px 75%;
}

#noteTA-dialog a {
    color: #36B;
}

[id^="mobile-noteTA-"  i] {
    cursor: pointer;
}
