/**
 * @source https://zh.wikipedia.org/wiki/_?oldid=22973238
 * 更新后请同步更新上面链接到最新版本
 */
/*
 * 引自 https://zh.wikipedia.org/wiki/MediaWiki:Gadget-noteTA.css
 * User:AnnAngela做了整合
 */
#noteTA-lang {
    background: #36C;
    color: white;
    text-align: center;
    padding: .5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

[id^="mobile-noteTA-" i] {
    cursor: pointer;
}
