/* 侧边栏logo或左下角图片添加 */
body.sideBarPic-executed .sidebar-character {
    position: fixed;
    left: -3px;
    z-index: -2;
}

body.sideBarPic-executed .sidebar-character.top {
    top: 0;
}

body.sideBarPic-executed .sidebar-character.bottom {
    bottom: 0;
}

body.sideBarPic-executed #wglogo {
    display: none;
}

@media screen and (width <= 600px) {
    /* 低像素设备隐藏 */
    .sidebar-character {
        display: none !important;
    }
}

body.sideBarPic.skin-vector-2022:not(.DeceasedPerson) #mw-panel .portal {
    background-color: rgb(246 246 246 / 90%);
    margin-left: -0.75em;
    margin-right: 0;
    padding-left: 1.5em;
    padding-right: 0.95em;
}

body.sideBarPic.skin-vector-2022:not(.DeceasedPerson) #mw-panel #p-logo + .portal {
    padding-top: 1.1em;
    margin-top: 0;
}

body.sideBarPic:not(.DeceasedPerson) .sidebar-character.active {
    display: block;
}

body.sideBarPic-executed.show-logo:not(.DeceasedPerson) #mw-panel #p-logo {
    height: 160px;
}

body.sideBarPic-executed.show-logo:not(.DeceasedPerson) #mw-panel #p-logo .mw-wiki-logo {
    background-image: url("https://storage.moegirl.org.cn/moegirl/logo/zhMoegirl15.2.png");
    height: 160px;
}

body.sideBarPic:not(.DeceasedPerson) #footer #footer-moegirl .copyright {
    color: #2f2f2f;
}

/* vector-2022 背景图片 */
body.sideBarPic.skin-vector-2022.mediawiki .mw-page-container {
    background-color: rgb(255 255 255 / 90%);
}

body.sideBarPic .vector-pinned-container {
    background-color: transparent;
}


body.sideBarPic .vector-sticky-pinned-container::after {
    display: none;
}
