/* 侧边栏logo或左下角图片添加 */
body.sideBarPic-executed .sidebar-character {
    position: fixed;
    left: -3px;
    z-index: -2;
}

body.sideBarPic-executed .sidebar-character.top {
    top: 0;
}

body.sideBarPic-executed .sidebar-character.bottom {
    bottom: 0;
}

body.sideBarPic-executed #wglogo {
    display: none;
}

@media screen and (width <= 600px) {

    /* 低像素设备隐藏 */
    .sidebar-character {
        display: none !important;
    }
}

body.sideBarPic.skin-vector:not(.DeceasedPerson) #mw-panel .portal {
    background-color: rgb(246 246 246 / 90%);
    margin-left: -0.75em;
    margin-right: 0;
    padding-left: 1.5em;
    padding-right: 0.95em;
}

body.sideBarPic.skin-vector:not(.DeceasedPerson) #mw-panel #p-logo + .portal {
    padding-top: 1.1em;
    margin-top: 0;
}

body.sideBarPic:not(.DeceasedPerson) .sidebar-character.active {
    display: block;
}

body.sideBarPic-executed.show-logo:not(.DeceasedPerson) #mw-panel #p-logo {
    height: 160px;
}

body.sideBarPic-executed.show-logo:not(.DeceasedPerson) #mw-panel #p-logo .mw-wiki-logo {
    background-image: url("https://img.moegirl.org.cn/logo/zhMoegirl15.2.png");
    height: 160px;
}

body.sideBarPic:not(.DeceasedPerson) #footer {
    background-color: rgb(255 255 255 / 70%);
}

body.sideBarPic:not(.DeceasedPerson) #footer #footer-moegirl .copyright {
    color: #2F2F2F;
}

/* For Skin:MoeSkin 机智的小鱼君 2022年4月16日 */
body.sideBarPic-executed.skin-moeskin #moe-global-footer {
    z-index: 1;
}

body.sideBarPic-executed.skin-moeskin #moe-main-container {
    --theme-card-background-color: rgb(255 255 255 / 90%);
}
