.page-info-container {
    display: flex;
    font-size: 1rem;
}

.page-info-protection {
    text-align: left;
}

.page-info-protection,
.page-info-protection img {
    height: 20px;
    width: 20px;
}

.skin-vector-2022 #firstHeading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.skin-vector-2022 .page-info-container {
    margin-left: auto;
    margin-right: .5rem;
}

.edit-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
