name: "Auto Assign"
on:
  pull_request_target:
    types:
      - opened
      - ready_for_review

env:
  APP_ID: ${{ secrets.APP_ID }}
  PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
  CLIENT_ID: ${{ secrets.CLIENT_ID }}
  CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
  INSTALLATION_ID: ${{ secrets.INSTALLATION_ID }}

jobs:
  add-reviews:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          show-progress: false
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version: lts/*
          check-latest: true
          cache: npm
      - name: Installing the dependencies
        uses: AnnAngela/cached_node-modules@v3
        with:
          command: npm run ci
      - name: add assignees and reviewers
        run: |
          node scripts/autoAssign/index.js
